@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  p {
    line-height: normal !important;
  }
}

* {
  scroll-behavior: smooth;
}

.bg-hero {
  background: radial-gradient(400.29% 178.88% at -2.4% -20.95%, #FEF9ED 19.45%, #FFEEC4 100%);
}

.text-hero {
  background: linear-gradient(96deg, #F8C748 25.93%, #666828 46.98%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  -o-background-clip: text;
  -o-text-fill-color: transparent;
}
.hero-stat {
  background: linear-gradient(133deg, #95772B -27.72%, #4C4E1C 39.19%, #666828 100.9%);
}
.gradient-primary {
  background: linear-gradient(97deg, #DFB341 -8.74%, #F8C748 104.32%);
}
.gradient-dark {
  background: linear-gradient(133deg, #95772B -27.72%, #4C4E1C 39.19%, #666828 100.9%);
  min-width: 225px;
}

@media (max-width: 360px) {
  .gradient-primary {
    max-width: 200px;
  }
  .gradient-dark {
    width: 180px;
    min-width: 180px !important;
  }
}